.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.m-10 {
  margin: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mb-16 {
  margin-bottom: 16px;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}